<a href="https://colab.research.google.com/github/mariumfaheem/data-science-assignment-/blob/main/Data_Science_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("/content/netflix_data.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

# Lets do some data cleaning and wrangling

In [ ]:
missing_values=df.isnull()
missing_values

In [15]:
for columns in missing_values.columns.values.tolist():
  print(columns)
  print(missing_values[columns].value_counts())
  print(" ")

show_id
False    7787
Name: show_id, dtype: int64

type
False    7787
Name: type, dtype: int64

title
False    7787
Name: title, dtype: int64

director
False    5398
True     2389
Name: director, dtype: int64

cast
False    7069
True      718
Name: cast, dtype: int64

country
False    7280
True      507
Name: country, dtype: int64

date_added
False    7777
True       10
Name: date_added, dtype: int64

release_year
False    7787
Name: release_year, dtype: int64

duration
False    7787
Name: duration, dtype: int64

description
False    7787
Name: description, dtype: int64

genre
False    7787
Name: genre, dtype: int64

lets remove all null values

In [18]:
df.dropna(inplace=True)

In [19]:
missing_values=df.isnull()
missing_values

for columns in missing_values.columns.values.tolist():
  print(columns)
  print(missing_values[columns].value_counts())
  print(" ")

show_id
False    4812
Name: show_id, dtype: int64

type
False    4812
Name: type, dtype: int64

title
False    4812
Name: title, dtype: int64

director
False    4812
Name: director, dtype: int64

cast
False    4812
Name: cast, dtype: int64

country
False    4812
Name: country, dtype: int64

date_added
False    4812
Name: date_added, dtype: int64

release_year
False    4812
Name: release_year, dtype: int64

duration
False    4812
Name: duration, dtype: int64

description
False    4812
Name: description, dtype: int64

genre
False    4812
Name: genre, dtype: int64

# No Missing Values

# Assignment Question No.1

In [49]:
count=len(df.loc[1,"cast"].split(","))
count

6

In [50]:
def return_count(val):
  if val is None:
    return 0
  else:
    return len(val.split(","))

In [57]:
df["num_of_cast"]=df["cast"].apply(return_count)

In [58]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies,9
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action,9
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas,12
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV,10

# Assignment Question No.2

In [61]:
df.groupby("type")["genre"].value_counts()

type     genre
Movie    Dramas                  1343
         Comedies                1029
         Action                   696
         Children                 421
         Documentaries            352
         Stand-Up                 276
         Horror Movies            239
         International Movies     100
         Classic Movies            69
         Thrillers                 49
         Uncategorized             25
         Independent Movies        20
         Anime Features            18
         Music                     14
         Cult Movies               11
         Sci-Fi                    11
         Romantic Movies            3
         LGBTQ Movies               1
TV Show  International TV          39
         Crime TV                  30
         British TV                20
         Kids                      10
         Anime Series               9
         Docuseries                 7
         Stand-Up                   7
         TV Shows                   4
         TV Comedies                3
         TV Action                  2
         Classic                    1
         Reality TV                 1
         Romantic TV                1
         TV Horror                  1
Name: genre, dtype: int64